<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parsel Sorgu API Demo</title>
        <link rel="stylesheet" href="/static/app.css">
        <meta charset="UTF-8">


        <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

        
    </head>

    <body>
        
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" style="margin-left:20px">Kentel MapDB Demo</span>
        </nav>
        <div id="map" style="width:100%;height:85vh"></div>
        
        <div class="API">
            <input type="text" placeholder="Şehir,İlçe" id="entry"><button onclick="find_on_map()">Haritada Bul</button>
            <input type="text" placeholder="Enlem,Boylam" id="latlong"><button onclick="find_on_map_coordinates()">Haritada Bul</button> 
        </div>
        <br>

        <h2>Sonuçlar</h2>
        <div id="sonuc"></div>

        <ul class="list-group" id="log">
            <li class="list-group-item">Konum Listesi</li>
        </ul>


    

<style>
.API{
    text-align:center;
    margin-top:30px;

}
h2,i{
    margin-left:30px;
}
.btn{
    margin-left:30px

}
#popup{
    width:100%;
    position: fixed;
    top:0px;
    height: 100vh;
    left:0px;
    background: white;
}
#sonuc{
    margin-left:30px;
}

</style>
        <script>
        
var map = L.map('map');
map.setView([39.478, 34.349], 6);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);




//Current location with geolocation API
const options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0,
};
var greenIcon = new L.Icon({
  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});
function success(pos) {
  const crd = pos.coords;

  console.log("Your current position is:");
  console.log(`Latitude : ${crd.latitude}`);
  console.log(`Longitude: ${crd.longitude}`);
  console.log(`More or less ${crd.accuracy} meters.`);
    L.marker([crd.latitude,crd.longitude],{icon:greenIcon}).addTo(map)
    .bindPopup("Mevcut Konum")
    .openPopup();
  logit(crd.latitude,crd.longitude,"Mevcut Konum");
}

function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
}

navigator.geolocation.getCurrentPosition(success, error, options);





function logit(lat,lng,name){
    lat = parseFloat(lat)
    lng = parseFloat(lng)
    document.getElementById("log").innerHTML = document.getElementById("log").innerHTML+"<li class='list-group-item'>"+name+"<i style='color:gray;font-size:15px' >"+lat+","+lng+"</i>"+ "<button onclick='checkA("+lat+","+lng+")' class='btn btn light'>Sorgula</button><button class='btn btn-light' onclick='findInMap("+lat+","+lng+")'>Haritada göster</button></li>" 
}
function findInMap(lat,lng){
    map.setView([lat,lng],18);
}
function find_on_map(){
    entry = document.getElementById("entry").value
    $.getJSON("/get_coordinates?q="+entry,function(data){
        console.log(data)
        lat = parseFloat(data.lat);
        lon = parseFloat(data.lng);
        map.setView([lat,lon],12);
        L.marker([lat,lon]).addTo(map)
            .bindPopup(data.admin_name+","+data.city)
            .openPopup();
        logit(lat,lon,data.admin_name+","+data.city)
    })
}
function find_on_map_coordinates(){
    query = document.getElementById("latlong").value;
    lat = parseFloat(query.split(",")[0])
    lng = parseFloat(query.split(",")[1])
    map.setView([lat,lng],15)
    L.marker([lat,lng]).addTo(map)
        .bindPopup(lat+","+lng+" Özel Konum")
        .openPopup();
    logit(lat,lng,"Özel Konum")
}

outputData = {}

function checkA(lat,lng){
    dataname = lat+""+lng;
    document.getElementById("sonuc").innerHTML = ""
    if (outputData.dataname != undefined)
    {
        allp = outputData.dataname
        
        allpKeys = Object.keys(allp)
        for (var i = allpKeys.length - 1; i >= 0; i--) {
            current = allpKeys[i]
            sonuc = document.getElementById("sonuc")

            sonuc.innerHTML = sonuc.innerHTML + "<p>"+current+":"+allp[current]+"</p><hr>"

        }

    }else{
        $.getJSON("/parsel_sorgu?lat="+lat+"&"+"long="+lng,function(data){
            allp = data.properties
            
            outputData.dataname = allp;
            allpKeys = Object.keys(allp)
            for (var i = allpKeys.length - 1; i >= 0; i--) {
                current = allpKeys[i]
                sonuc = document.getElementById("sonuc")

                sonuc.innerHTML = sonuc.innerHTML + "<p>"+current+":"+allp[current]+"</p><hr>"

            }
        })
    }
    
    
    
}



/*
L.marker([51.5, -0.09]).addTo(map)
    .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
    .openPopup();
*/
        </script>


    </body>

</html>
